<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="DiscouragedApi">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IMessageClient"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="34">
        <activity
            android:name=".activity.ChannelCollectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupChannelNotificationsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupChannelRemoveActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupMembersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QrScanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/QrScanActivity" />
        <activity
            android:name=".activity.QrCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TransferGroupChannelAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupChannelInvitationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InviteJoinGroupChannelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupChannelAdditionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RequestJoinGroupChannelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TagGroupChannelsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetGroupChannelTagActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetGroupChannelNoteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.editgroup.ChangeGroupRegionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.editgroup.ChangeGroupIdActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.editgroup.ChangeGroupNameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.settings.EditGroupInfoSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupChannelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupChannelSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExploreGroupChannelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PresetGroupChannelTagActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreateGroupChannelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupTagActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupChannelAdditionsActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupChannelsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MediaActivity2"
            android:exported="false"
            android:theme="@style/DarkStatusBarActivity" />
        <activity
            android:name=".activity.VersionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchChatMessageResultItemsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchChatMessageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchChannelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForwardMessageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BroadcastPermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExcludeBroadcastChannelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BroadcastChannelPermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BroadcastLikesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BroadcastInteractionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditBroadcastActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BroadcastChannelActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BroadcastActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SendBroadcastActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PresetChannelTagActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RecordVideoActivity"
            android:exported="false"
            android:theme="@style/DarkStatusBarActivity" />
        <activity
            android:name=".activity.PreviewToChooseVideoActivity"
            android:exported="false"
            android:theme="@style/DarkStatusBarActivity" />
        <activity
            android:name=".activity.ChatFileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.settings.EditWaysToFindMeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity" />
        <activity
            android:name=".activity.settings.PrivacySettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity" />
        <activity
            android:name=".activity.settings.EditUserProfileVisibilitySettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity" />
        <activity
            android:name=".activity.TakePhotoActivity"
            android:exported="false"
            android:theme="@style/DarkStatusBarActivity" />
        <activity
            android:name=".activity.settings.UiSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity" />
        <activity
            android:name=".activity.SetChannelTagActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TagChannelsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TagActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetChannelNoteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChannelSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MediaActivity"
            android:exported="false"
            android:theme="@style/DarkStatusBarActivity" />
        <activity
            android:name=".activity.PreviewToChooseImageActivity"
            android:exported="false"
            android:theme="@style/DarkStatusBarActivity" />
        <activity
            android:name=".activity.ChooseMediasActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/DarkStatusBarActivity" />
        <activity
            android:name=".activity.OfflineDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ChatActivity" />
        <activity
            android:name=".activity.ChannelAdditionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RequestAddChannelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChannelAdditionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExploreChannelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChannelActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="channel"
                    android:pathPrefix="/"
                    android:scheme="imessage" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OpenSourceLicensesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.settings.PermissionSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity" />
        <activity
            android:name=".activity.AvatarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CropImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.settings.VersionSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity" />
        <activity
            android:name=".activity.edituser.ChangeRegionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.edituser.ChangeSexActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.edituser.ChangeEmailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.edituser.ChangeUsernameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.edituser.ChangeImessageIdUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.settings.EditUserSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.settings.OtherAppSettingsSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity" />
        <activity
            android:name=".activity.settings.RootSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity" />
        <activity
            android:name=".activity.AuthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>